*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}

.todoList{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background-color: rgba(233, 233, 233, 0.815);
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(102, 102, 102);
}

.add-container{
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 5px;
}

.add-title{
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.todoTitle{
    width: 80%;
    height: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    font-family: monospace;
    font-weight: bold;
}

.App{
    margin-top: 70px;
    width: 55rem;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 25px;
    padding: 20px;
    background-color: rgba(241, 241, 241, 0.801);
    position: absolute;
    box-shadow: 0px 0px 5px rgb(102, 102, 102);
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.384);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    background-color: rgb(253, 252, 252);
    padding: 10px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center; 
}

.modal-input{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    background-color: rgb(223, 221, 221);
    outline: none;
}

.modal-input:focus{
    box-shadow: 0px 0px 5px rgba(54, 184, 54, 0.692);
    transition: 0.2s;
}

.modal-upd-btn{
    padding: 5px;
    border: none;
    width: 100px;
    border-radius: 8px;
    background-color: rgb(77, 163, 77);
    cursor: pointer;
}

.modal-upd-btn:hover{
    background-color: rgb(117, 189, 117);
    transition: 0.2s;
}

.modal-close-btn{
    padding: 7px;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    width: 30px;
    margin-left: 5px;
    background-color: rgb(165, 39, 71);
    cursor: pointer;
    color: white;
    position: absolute;
    margin-top: -175px;
    margin-left: 375px;
    text-align: center;
    padding-left: 8px;
}



.modal-close-btn:hover{
    background-color: rgb(223, 162, 162);
    color: black;
}

.pagi-container{
    display: flex;
    justify-content: center;
}

.pagi-btns{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border-radius: 8px;
    padding: 2px;
    background-color: rgb(214, 214, 214);
}

.prev-btn{
    border: none;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.next-btn{
    border: none;
    padding: 5px; 
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.update-btn{
    border: none;
    width: 70px;
    padding: 5px;
    background-color: rgb(75, 171, 250);
    border-radius: 6px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.update-btn:hover{
    background-color: rgb(210, 228, 240);
    transition: 0.3s;
}

.delete-btn{
    border: none;
    width: 70px;
    padding: 6px;
    background-color: rgb(253, 78, 116);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.delete-btn:hover{
    background-color: rgb(241, 183, 196);
    transition: 0.3s;
}

.add-btn{
    border: none;
    width: 70px;
    padding: 6px;
    background-color: rgb(66, 190, 72);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.add-btn:hover{
    background-color: rgb(136, 197, 139);
    transition: 0.3s;
}

.add-input{
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 350px;
    box-shadow: 0px 0px 3px rgb(102, 102, 102);
}

