*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.todoList{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(233, 233, 233, 0.815);
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgb(102, 102, 102);
    margin-top: 20px;
}

.todoList-delete{
    animation: fadeOutUp;
    animation-duration: 1s;
}

.todo-title{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}


.todoList-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.todo-img{
    width: 100px;
    border-radius: 6px;
}

.todo-stars{
    margin-top: 5%;
    width: 20%;
}

.star1{
    width: 15px;
}

.star0{
    width: 15px;
}

.add-container{
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 5px;
}

.add-title{
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.App{
    margin-top: 20px;
    width: 55rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 25px;
    padding: 20px;
    background-color: rgba(241, 241, 241, 0.801);
    position: absolute;
    box-shadow: 0px 0px 5px rgb(102, 102, 102);
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.384);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    background-color: rgb(253, 252, 252);
    padding: 10px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center; 
}

.modal-input{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    background-color: rgb(223, 221, 221);
    outline: none;
}

.modal-input:focus{
    box-shadow: 0px 0px 5px rgba(54, 184, 54, 0.692);
    transition: 0.2s;
}

.modal-upd-btn{
    padding: 5px;
    border: none;
    width: 100px;
    border-radius: 8px;
    background-color: rgb(77, 163, 77);
    cursor: pointer;
}

.modal-upd-btn:hover{
    background-color: rgb(117, 189, 117);
    transition: 0.2s;
}

.modal-close-btn{
    padding: 7px;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    width: 30px;
    margin-left: 5px;
    background-color: rgb(165, 39, 71);
    cursor: pointer;
    color: white;
    position: absolute;
    margin-top: -175px;
    margin-left: 375px;
    text-align: center;
    padding-left: 8px;
}



.modal-close-btn:hover{
    background-color: rgb(223, 162, 162);
    color: black;
}

.pagi-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagi-btns{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border-radius: 8px;
    padding: 2px;
    background-color: rgb(214, 214, 214);
}

.prev-btn{
    border: none;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}
.prev-btn:hover{
    background-color: rgb(39, 39, 39);
    color: white;
    transition: 0.3s;
}

.next-btn{
    border: none;
    padding: 5px; 
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.next-btn:hover{
    background-color: rgb(39, 39, 39);
    color: white;
    transition: 0.3s;
}

.update-btn{
    border: none;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.update-btn:hover{
    color: rgb(58, 159, 199);
    transition: 0.3s;
}

.delete-btn{
    border: none;
    width: 20px;
    height: 20px;
    padding: 6px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.delete-btn:hover{
    color: rgb(223, 68, 68);
    transition: 0.3s;
}

.add-btn{
    border: none;
    width: 70px;
    padding: 6px;
    background-color: rgb(66, 190, 72);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.add-btn:hover{
    background-color: rgb(136, 197, 139);
    transition: 0.3s;
}

.add-input{
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 350px;
    box-shadow: 0px 0px 3px rgb(102, 102, 102);
}

@media screen and (max-width: 450px) {
    .container{
        width: 100%;
    }

    .App{
        width: 90%;
        padding: 15px;
    }

    .add-container{
        width: 95%;
        height: 4vh;
    }

    .add-input{
        height: 25px;
        margin: 10px;
        margin-top: 2px;
    }

    .add-btn{
        padding: 1px;
        font-size: 10px;
        height: 30px;
        width: 90px;
    }

    .add-title{
        margin-top: -5px;
        font-size: 14px;
        margin-left: -10px;
    }

    .todoList{
        width: 100%;
        height: 50px;
        padding: 5px;
        margin-left: -5px;
    }

    .todo-img{
        width: 50px;
    }

    .todo-title{
        font-size: 10px;
        width: 100%;
        line-height: 10px;
    }

    .todo-stars{
        width: 16%;
    }

    .todoList-middle{
        font-size: 12px;
    }

    .star0{
        width: 10px;
    }
    .star1{
        width: 10px;
    }

    .delete-btn{
        width: 12px;
        height: 12px;
        padding: 0px;
    }

    .update-btn{
        width: 12px;
        height: 12px;
        padding: 0px;
    }

    .email{
        font-size: 10px;
        line-height: 0px;
    }

    .location{
        font-size: 10px;
        line-height: 5px;
    }

    .modal-content{
        width: 90%;
        height: 200px;
    }

    .modal-close-btn{
        position: static;
        margin: 0;
        margin-left: 90%;
        margin-top: -5%;
        padding: 7px;
    }
}

@media screen and (max-width: 850px) and (min-width: 500px){
    .container{
        width: 100%;
    }

    .App{
        width: 95%;
        padding: 15px;
    }

    .modal-content{
        width: 80%;
    }
    .modal-close-btn{
        margin-left: 75%;
        padding: 7px;
        padding-bottom: 8px;
        padding-right: 8px;
        padding-top: 6px;
    }
}